@tailwind components;

@layer components {
    .projects__container {
        @apply space-y-6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 150vh;
        font-family: "Iceland";
    }
    .projects {
        @apply text-4xl lg:text-7xl;
        text-shadow: 0px 0px 20px #00ffae;
    }
    .project__title {
        @apply text-2xl lg:text-4xl;
        text-shadow: 0px 0px 20px #00ffae;
    }
    .details h4 {
        @apply text-lg lg:text-2xl;
    }
    .project__img img {
        @apply w-[500px] rounded-2xl;
    }
    .btn {
        @apply space-x-0 lg:space-x-4  py-4;
    }

    .num {
        @apply font-bold;
        text-shadow: 0px 0px 20px #00ffae;
    }
    .details__btn {
        @apply rounded border;
        position: relative;
        display: inline-block;
        padding: 8px 15px;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
    }
    .details__btn:hover {
        color: black;
        background: white;
        box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
        transition-delay: 0.2s;
    }
}
