@tailwind components;

@layer components {
    .project__container {
        @apply space-y-6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-family: "Iceland";
    }
    .title {
        @apply text-4xl lg:text-7xl text-center;
    }
    .project__image img {
        @apply rounded-2xl;
    }
    .neon__btn a {
        @apply rounded border;
        position: relative;
        display: inline-block;
        padding: 8px 15px;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
    }
    .neon__btn a:hover {
        color: black;
        background: white;
        box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
        transition-delay: 0.2s;
    }
}
